# Node / Next
node_modules/
.next/
out/
dist/
.vercel/
.turbo/
.npm/
.yarn/
coverage/
.DS_Store

# Env & локальные настройки
.env
.env.local
.env.*.local
.vscode/
*.log

# Prisma / локальные БД (НЕ коммитим DB-файлы)
prisma/*.db
prisma/*.db-journal
*.sqlite
*.sqlite-journal

# Если используете PM2, pnpm store и пр.
.pnpm-store/
